* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: roboto, sans-serif;
}


ul {
    list-style-type: none;
}

a {
    text-decoration: none;
    color: #fff;
    padding-bottom: 4px;
}

/* NAVBAR */


.navbar .container {
    background-color: #1F2937;
    color: #fff;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 12px;
}

.navbar .logo {
    font-size:x-large;
    font-weight: bold;
}

.navbar ul {
    display: flex;
    gap: 1.5em;
    font-weight: 300;
}

.navbar .right-menu a:hover {
    border-bottom: 0.5px solid white;
    color: rgba(245, 245, 245, 0.789)
}

/* HEADER */

.header img {
    max-width: 700px;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 100px;
    flex: 1 0 auto;
    box-shadow: rgba(0, 0, 0, 0.576) 0px 20px 30px -10px;   
}

.header h1 {
    font-size: 58px;
    font-weight: bolder;
    color:#fff;
    line-height: 1;
}

.header p {
    color:#fff;
    font-weight: 300;
    font-size: 18px;
}

.header .button {
    background-color: #3B82F6;
    color:#fff;
    outline: none;
    border: none;
    border-radius: 6px;
    padding: 5px 25px;
    align-self: flex-start;
    font-size: 18px;
}

.header .button:hover {
    cursor: pointer;
    background-color: #2959a4;
}

.header .container {
    background: rgb(31,41,55);
    background: linear-gradient(315deg, rgba(31,41,55,1) 56%, rgba(49,59,73,1) 100%); 
    display: flex;
    justify-content: space-around;
    align-items: center;
    box-shadow: 0 0px 10px 0 rgba(0, 0, 0, 0.2);
}

.header .title {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 20px 100px;
    gap: 1rem;
}

@media (max-width: 768px) {
    .header .container {
        flex-direction: column;
        padding-top: 100px;
        text-align: center;
    }

    .header .title {
        width: 80%;
        margin-bottom: 0;
    }

    .header .button {
        align-self: center;
    }

    .header img {
        width: 95%;
        margin: 50px auto 100px auto;
    }
}